body {
    background-color: #EAF6F6;
}
hr {
    border-style: dotted none none ;
    /* or */
    border-top-style: dotted;
    width: 6%;
    border-color: #C6DCBA;
    border-width: 8px;
}

h1{
    color: #66BFBF
}
h3{
    color: #66BFBF;
}